.container{
    width: 250px;
    background-color:   royalblue;
    display: flex;
    height: 1000px;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: end;
}
.container  .item{
    width: 100px;
    height: 100px;
    border: 3px dashed red;
    background-color: orange;
    display: inline-block;
    right: 10px;
}